* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerContainer {
    width: 100%;
    height: 76px;
    background-color: black;
    display: flex;
    align-items: center;
}

h1 {
    color: white;
    padding: 20px;
    font-size: 24px;
}
@media (max-width: 768px) {
    .headerContainer {
        height: 60px;
        justify-content: center;
    }

    h1 {
        font-size: 18px;
        padding: 10px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 16px;
    }
}
