.searchContainer {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

input {
  width: 70%;
  height: 55px;
  background: #D9D9D9;
  font-size: 22px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
